.navbar {
    display: flex;
    align-items: center;
    min-height: 10vh;
    background-color: #90b7f1;
    z-index: 100;
    padding: 0 5% 0 5%;
}

.logo {
    height: 3rem;
    width: 3rem;
    border: 3px solid black;
}

.brand {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 1.5rem;
    padding: .5rem;
    font-weight: 600;
    font-family: cursive;
    color: white;
}

.nav-menu {
    background-color: inherit;
    border: 0px;
    color: white;
    margin-left: auto;
    display: none;
}

.nav-link {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 1.3rem;
    padding: 1rem;
}

.active-nav-link {
    color: rgb(53, 10, 133);
}

.nav-link:hover {
    color: red;
    background-color: #ffffff;
}

@media only screen and (max-width: 800px) {
    .navbar {
        justify-content: space-around;
        flex-direction: column;
        /* min-height: 40vh; */
    }

    .nav-menu {
        display: inline-block;
    }

    .nav-link{
        /* display: none; */
    }

    .hidden {
        display: none
    }
    

    .brand {
        /* flex: 0; */
        /* display: none; */
        width: 100%;
        justify-content: space-around;
    }
}