.sub-heading {
    text-align: center;
    font-family: cursive;
}

.sub-heading-2 {
    margin: 3% 0 0 5%;
    padding-bottom: .5rem;
    border-bottom: 2px dashed #a7a7a7;
    font-size: 1.75rem;
    font-family: cursive;
    display: inline-block;
}

.bg-second {
    background-color: #f6f8fa;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding: 3rem 3rem 3rem 3rem;
}

@media only screen and (max-width:810px) {
    .dashboard-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 2rem 3rem 1rem;
    }
}