.head {
  display: flex;
  background-image: linear-gradient(to right, #8b1515, #000000);
  color: white;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.h1-text:hover {
  transform: scale(1.5, 1.5);
  transition: ease-in-out;
  transition: 1s;
}