.card {
    background-color: #f6f8fa;
    border: 4px solid #111111;
    display: flex;
    width: 20%;
    padding: 0 0.5rem 1rem;
    flex-direction: column;
    margin: 2rem .5rem 2rem .5rem;
}

.stats a {
    text-decoration: none;
}

.card .stats {
    font-size: 1.2rem;
    font-weight: 500;
}

.text-right{
    margin-left: 5rem;
}

img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width:2000px) {
    .card {
        width: 28%;
    }
}

@media only screen and (max-width:1200px) {
    .card {
        width: 40%;
    }
}

@media only screen and (max-width:810px) {
    .card {
        width: 85%;
    }
}